$text-color-white: white;
$text-color-black: black;
$text-onsale: crimson;
$text-original: darkgray;

@mixin flexCenter($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin image($repeat, $position, $cover) {
  background-repeat: $repeat;
  background-position: $position;
  background-size: $cover;
}

body {
  background: url(../image/main/images/main_bg1_01.jpg);
  @include image(no-repeat, 0 0, cover);

  main {
    width: 100%;
    padding: 50px 5vw;
    position: relative;
  }
}

@import './_countdown.scss';
@import './_mustbuy.scss';
@import './_main-upper.scss';
@import './_main-lower.scss';
@import './_footer.scss';
